body {
  background: #2d2d2d;
  display: flex;
  max-width: calc(100% - 50px);
  flex-direction: column;
  color: #999;
}

.Iam {
  margin-top: 8rem;
  margin-left: 15rem;
  /* font-family: "Roboto", sans-serif; */
  font: normal 60px/70px "Roboto", sans-serif;
  color: #999;
  width: 70rem;
}
.Iam p {
  height: 70px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  height: 70px;
  top: 60px;
}
.Iam .innerIam {
  display: inline-block;
  color: #e74c3c;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;

  /*animation*/
  -webkit-animation: move 6s;
  -moz-animation: move 6s;
  -ms-animation: move 6s;
  -o-animation: move 6s;
  animation: move 6s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -70px;
  }
  40% {
    top: -140px;
  }
  60% {
    top: -210px;
  }
}
.we {
  width: 35rem;
  font-size: 1.2rem;
  font-weight: 400;
  position: relative;
  left: 15rem;
  font-family: "Roboto", sans-serif;
}
span {
  font-weight: bolder;
  color: #e74c3c;
}
.box {
  margin-left: 15rem;
  margin-top: 3rem;
}
.input-homepage {
  width: 28rem;
  border: none;
  padding-left: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
input:active {
  border-color: #999;
  color: #999;
}

.box {
  display: inline-flex;
  height: 4rem;
}
.box a {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  border-top-right-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  background-color: #e74c3c;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bolder;
}
.box a:hover {
  background-color: #fb5b49;
  font-weight: bolder;
}
