<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/main.css">
    <title>All Requests</title>
</head>

<body>
    <!-- <div class="header">
        <ul id="header-title">
            <li><a id="homeLogo" href=""> FPTU CCSS </a></li>
            <li><a id="itemheader" href=""> All Requests </a></li>
            <li><a id="itemheader" href=""> Add Request </a></li>

        </ul>
    </div> -->
    <div class="header">
        <ul id="header-title">
            <span class="hamburger">&#9776;</span> <!-- Hamburger Icon -->
            <li class="homeLogo"><a id="homeLogo" href="">FPTU CCSS</a></li>
            <li><a id="itemheader" class="nav-item" href="">All Requests</a></li>
            <li><a id="itemheader" class="nav-item" href="">Add Request</a></li>
        </ul>
    </div>
    <div class="maincontent">
        <div class="wrapper">
            <div class="table">
                <div class="row headerRow" >
                    <div class="cell"> NO </div>
                    <div class="cell"> Subject </div>
                    <div class="cell"> Class </div>
                    <div class="cell"> Slot </div>
                    <div class="cell"> </div>
                    <div class="cell"> Contact </div>
                    <div class="cell"> Note </div>
                </div>

                <div class="row">
                    <div class="cell" data-title="NO"> 1 </div>
                    <div class="cell" data-title="Subject"> PRF192 </div>
                    <div class="cell" data-title="Class"> SE1884 </div>
                    <div class="cell" data-title="Slot"> Slot 1 - Mon </div>
                    <div class="cell" data-title=""> Slot 2 - Wed</div>
                    <div class="cell" data-title="Contact"> <a href=""> Contact </a>
                    </div>
                    <div class="cell" data-title="Note"> </div>
                </div>

                <div class="row">
                    <div class="cell" data-title="NO"> 1 </div>
                    <div class="cell" data-title="Subject"> PRF192 </div>
                    <div class="cell" data-title="Class"> SE1884 </div>
                    <div class="cell" data-title="Slot"> Slot 1 - Mon </div>
                    <div class="cell" data-title=""> Slot 2 - Wed</div>
                    <div class="cell" data-title="Contact"> <a href=""> Contact </a>
                    </div>
                    <div class="cell" data-title="Note"> </div>
                </div>

                <div class="row">
                    <div class="cell" data-title="NO"> 1 </div>
                    <div class="cell" data-title="Subject"> PRF192 </div>
                    <div class="cell" data-title="Class"> SE1884 </div>
                    <div class="cell" data-title="Slot"> Slot 1 - Mon </div>
                    <div class="cell" data-title=""> Slot 2 - Wed</div>
                    <div class="cell" data-title="Contact"> <a href=""> Contact </a>
                    </div>
                    <div class="cell" data-title="Note"> </div>
                </div>

            </div>
        </div>
        <!-- <table class="table">
            <tr>
                <th>NO</th>
                <th>Subject</th>
                <th>class</th>
                <th colspan="2">Slot</th>
                <th>Contact</th>
                <th>Note</th>
            </tr>
            <tr>
                <th scope="col"> 1 </th>
                <td> PRF192 </td>
                <td> SE1894 </td>
                <td> Slot 1 - Mon </td>
                <td> Slot 2 - Wed </td>
                <td> 
                    <a href="#" class="btn"> Contact</a>
                </td>
                <td>  </td>
            </tr>
            <tr>
                <th scope="col"> 1 </th>
                <td> PRF192 </td>
                <td> SE1894 </td>
                <td> Slot 1 - Mon </td>
                <td> Slot 2 - Wed </td>
                <td> 
                    <a href="#" class="btn"> Contact</a>
                </td>
                <td>  </td>
            </tr>
            <tr>
                <th scope="col"> 1 </th>
                <td> PRF192 </td>
                <td> SE1894 </td>
                <td> Slot 1 - Mon </td>
                <td> Slot 2 - Wed </td>
                <td> 
                    <a href="#" class="btn"> Contact</a>
                </td>
                <td>  </td>
            </tr>
        </table> -->

    </div>
    <div class="footer">
        <div class="footer">
            <h4 class="copyright"> Web Change Schedule được làm bởi CTV Team 5 của JS Club</h4>
        </div>
        <div> &#169; team5_jsclub</div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const hamburger = document.querySelector('.hamburger');
            const headerTitle = document.querySelector('#header-title'); // Lấy thẻ UL chứa tất cả các li

            hamburger.addEventListener('click', function() {
                headerTitle.classList.toggle('active'); // Toggle class 'active' trên thẻ UL
            });
        });
    </script>
</body>

</html>