<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../styles/main.css" />
    <title>Example</title>
  </head>
  <body>
    <div class=" main">
      <div class="Iam">
      <p>Welcome to</p>
      <b>
        <div class="innerIam">
          Our Website<br /> 
          Team 5 <br />
          JS Club<br />
          FPT University<br />
          </div>
      </b>
      </div>
      <div class="we">We are here to support you in changing classes at <span>FPT University</span></div>
      <div class="box">
        <pre><input type="text" placeholder="Input the subject or class you are looking for "><a href=""><button>Search</button></a></pre>

      
    </div>

</html>
