<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base/table.css">
</head>
<body>
    <div class="table-pri">
        <table class="table1">
            <thead>
                <tr>
                    <th>Cai bang</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Slot 1</td>
                    <td><input type="date" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                </tr>
                <tr>
                    <td>Slot 2</td>
                    <td><input type="email" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                </tr>
                <tr>
                    <td>Slot 3</td>
                    <td><input type="week" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                </tr>
                <tr>
                    <td>Slot 4</td>
                    <td><input type="range" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>