<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base/table.css">
</head>
<body>
    <div class="table-pri">
        <table class="table1">
            <thead>
                <tr>
                    <th>Cai bang</th>
                    <th>Cot 1</th>
                    <th>Cot 2</th>
                    <th>Cot 3</th>
                    <th>Cot 4</th>
                    <th>Cot 5</th>
                    <th>Cot 6</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><input type="date" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="email" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><input type="week" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><input type="range" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                    <td><input type="checkbox" class="check"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>