button {
    margin-top: 20px;
    margin-left: 42%;
    margin-right: 25%;
    padding: 10px 20px;
    background-color: #e74c3c;
    border-radius: 1dvb;
    color: #000000;
}

button:hover{
    background-color: #ff4d00;
}