*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    height: 60px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Đảm bảo header luôn ở trên cùng */
}

#homeLogo{
    color: #e74c3c !important;
    font-size: 30px;
    font-weight: bolder;
    
}

#homeLogo:hover{
    cursor: pointer;
    background-color: #000 !important;
}

#header-title li {
    display: inline-block;
}

#header-title li a{
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    padding: 0 24px;
    /* display: inline-block; */
}

#header-title li:hover #itemheader{
    cursor: pointer;
    color: #000;
    background-color: #ccc;
    display: inline-block;
}

.hamburger {
    display: none;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 520px) {
    .hamburger {
        display: inline-block;
        line-height: 60px;
        padding: 0 24px;
    }

    #header-title li:not(.homeLogo) { /* Chỉ ẩn các mục không phải là logo */
        display: none;
    }

    #header-title.active li:not(.homeLogo) { /* Khi có class active, hiển thị các mục này */
        display: block;
        width: 100%; /* Đảm bảo chiếm toàn bộ chiều rộng */
        background-color: #000; /* Màu nền cho mỗi mục khi mở */
        color: #fff; /* Màu chữ */
        padding: 12px 0; /* Padding cho mỗi mục */
    }
}


.footer{
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 16px;
    text-align: center;
}

.footer .copyright{
    margin-top: 20px;
}